.cart {
  background-color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * {
    margin-bottom: 20px;
  }
  &__img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: contain;
  }
  &__title {
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba($color: #000000, $alpha: 0.87);
  }

  &__text {
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba($color: #000000, $alpha: 0.87);
  }
}
